h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
}

h4 {
  letter-spacing: 0.666em;
}

.col-sm-12 {
  background-color: #ffcc00;
  font-family: 'Questrial', sans-serif;
  h1 {
    color: #0033cc;
    font-size: 20;
  }
}

.col-sm-6 {
  background-color: #ffcc00;
  font-family: 'Questrial', sans-serif;
  h2 {
    color: #000000;
    font-size: 16;
  }
  body {
    color: #000000;
    font-size: 12;
  }
}

.col-sm-6 {
  background-color: #ffcc00;
  font-family: 'Questrial', sans-serif;
  h3 {
    color: #000000;
    font-size: 16;
  }
  body {
    color: #000000;
    font-size: 12;
  }
}

.col-sm-12 {
  background-color: #336699;
  font-family: 'Questrial', sans-serif;
  h4 {
    font-size: 20;
    color: #ffff00;
  }
}

.col-sm-4 {
  background-color: #336699;
  font-family: 'Questrial', sans-serif;
    h5 {
      font-size: 16;
      color: #000000;
    }
    body {
      font-size: 12;
      color: #000000;
    }
}

.col-sm-4 {
  background-color: #336699;
  font-family: 'Questrial', sans-serif;
    h5 {
      font-size: 16;
      color: #000000;
    }
    body {
      font-size: 12;
      color: #000000;
    }
}

.col-sm-4 {
  background-color: #336699;
  font-family: 'Questrial', sans-serif;
    h5 {
      font-size: 16;
      color: #000000;
    }
    body {
      font-size: 12;
      color: #000000;
    }
}
