body {

}

h1 {
  color: #ededed;
}

h1 {
color: #3b657b
}

h2 {
color: #f1d83e
}

h5 {
  color: #000000;
}

/* colors */
.blue {
  background-color: #395a6d;
}
.yellow {
  background-color: #edc97b;
}
.med-gray {
  background-color: #ededed;
}
.dark-gray {
  background-color: #2d3235
}

/* style */
.content {
  padding: 50px 0;
}
.footer {
  padding: 50px 0;
  color: #fff;
}
.jumbotron {
  background: #f8f8f8;
  margin-bottom: 0;
}
.jumbotron h1 {
  text-align: center;
}
.navbar {
  margin-bottom: 0;
  border-bottom: none;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
