/**
 * @file: main.css
 */

body {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
}

h1 {
  color: #477676;
}

.action {
  background: #539d81;
  color: #fff;
  padding: 26px 0 24px 0;
}

.action h2 {
  color: #eade41;
  margin: 0;
  padding: 0;
}

.action p {
  font-size: 1.35em;
  padding-top: 10px;
}

.btn.secondary, .skiplink.secondary {
  background: #306756;
}

.btn.secondary:hover, .skiplink.secondary:hover {
  background: #1d4e3e;
}

.case-study {
  padding-top: 5px;
  padding-bottom: 20px;
}

.case-study, .case-study h2 {
  color: #2d3234;
}

.case-study a {
  color: #cd4c71;
}

.case-study a:hover {
    color: #a12b2f;
}

.contact-btn {
  background: #306756;
}

.contact-btn:hover {
  background: #1d4e3e;
}

.contact-form-results-row {
  display: none;
  left: 68px;
  position: absolute;
  top: 100px;
  width: 500px;
}

.copyright {
    padding-top: 5em;
}

.form-contact .contact {
  display: none;
}

.footer {
  background: #444;
  color: #fff;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer h4 {
  color: #469b81;
}

.footer h5 {
  color: #fff;
}

.footer a {
  color: #cd4c71;
}

.hero {
  background-image: url(/assets/images/bridge3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 180px;
}

.nospam {
  display: none;
}

.tagline {
  background: rgba(0,0,0,0.4);
  font-weight: 500;
  padding: 20px 0;
  text-align: center;
}

.tagline h2 {
  color: #fff;
  font-size: 2.666em;
  margin: 0;
  padding: 0;
}

.tagline h3 {
  color: #fff;
  font-size: 1.75em;
  margin: 0;
  padding: 10px 0 0 0;
}

.navbar {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 15px;
  opacity: 1;
}

.navbar .logo a img {
    max-height: 88%;
}

.navbar a.toggle {
  background: #539d81;
  margin-top: 12px;
}

.navbar a.toggle, .navbar a.toggle:active, .navbar a.toggle:hover, .navbar a.toggle:focus {
    background: #306756;
}

.navbar a i {
  color: #81ccb5;
  font-size: .5em;
  vertical-align: middle;
  visibility: hidden;
}

.navbar a i.visible {
  visibility: visible;
}

.navbar ul.active {
  background: #b4dfd3;
  margin-top: 50px;
}

.navbar ul li {
  line-height: inherit;
  text-align: right;
}

.newsletter {
  background: #4bafcc;
  color: #fff;
  padding: 40px 0 24px 0;
  margin-top: 30px;
}

.newsletter h3 {
  color: #eade41;
  margin: 0;
  padding: 0;
}

.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a {
  background: none;
}

.navbar ul li a {
  font-family: 'Questrial', sans-serif;
  color: #477676;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-shadow: none;
}

.navbar ul li a:hover {
  color: #469b81;
  background: none;
}

.row {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
}

.workspace-about {
  background: #d0eee6;
  padding-top: 40px;
  padding-bottom: 50px;
}

.workspace-about h1 {
  color: #1d4e3e;
  padding-bottom: 0.666em;
}

.workspace-about ul li, .workspace-about p {
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 0.666em;
}

.workspace-about a {
  color: #cd4c71;
}

.workspace-about a:hover {
    color: #a12b2f;
}

.workspace-work {
    padding-top: 3em;
}

.workspace-work .valign:before {
    height: 50px;
}
