body {

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
}

h4 {
  letter-spacing: 0.0666em;
}

p {
    font-family: 'Questrial', sans-serif;
}

hr {
  margin: 5em 0 5em 0;
}

/* colors */
.blue {
  background-color: #395a6d;
}
.yellow {
  background-color: #edc97b;
}
.med-gray {
  background-color: #ededed;
}
.dark-gray {
  background-color: #2d3235
}

/* style */
.action {
  display: block;
  border: 2px solid #cd4c71;
  font-family: 'Questrial', sans-serif;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.8em;
  color: #333;
}
a:hover.action, a:focus.action, a:active.action {
    color: #cd4c71;
    text-decoration: none;
}
/*a:visited.action {
  color: #333;
  text-decoration: none;
} */
.announcement-bar {
  background: #3e596c;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: .1em;
  padding: 6px 0;
  text-align: center;
}
.blue p {
  font-size: 1.1em;
  line-height: 1.5em;
}
.blurb {
  color: #333;
  font-family: 'Questrial', sans-serif;
  font-size: 1.4em;
  text-align: left;
}
.content {
  padding: 50px 0;
}
.footer {
  padding: 50px 0;
  color: #fff;
}
.jumbotron {
  background: #f8f8f8;
  margin-bottom: 0;
}
.jumbotron h1 {
  text-align: center;
  margin: 40px auto 60px auto;
}
.navbar {
  margin-bottom: 0;
  border-bottom: none;
}
.navbar a {
  letter-spacing: 0.05em;
}
.navbar a i {
  font-size: .5em;
  vertical-align: middle;
  visibility: hidden;
}

.navbar a i.visible {
  visibility: visible;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #cd4c71;
}
.navbar-default .navbar-nav>li>a {
  color: #489a83;
  font-size: 1.75em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .img-hero {
    max-width: 640px;
    margin: auto;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-default .navbar-nav>li>a {
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar-nav>li {
    left: -10px;
  }
}
